body {
	font-family: Verdana, sans-serif;
	font-size:90%;
}

html,body {
	margin:0;
	padding:0;
	height:100%;
	overflow-x: hidden;
}

#container {
	min-height:100%;
	position:relative;
}

/* NAVIGATION */

#navsection {
	display: none;
}

#nav-up {
	top: 10px;
}

#nav-down {
	bottom: 10px;
}

#nav-up, #nav-down {
	left: 50%;
	margin-left:-25px;	
}

#nav-left {
	left: 10px;
}

#nav-right, #nav-home {
	right:10px;
}

#nav-left, #nav-right {
	top: 50%;
}

#nav-home {
	top: 25%;
	margin-top: 50px;
}

.navs {
	width: 50px;
	height:50px;
	padding:0;
	position: fixed;
	z-index: 4;
}

.navs .title {
	width:200px;
	left: -75px;
	position: relative;
	font-size:0.9em;
	text-align:center;
	z-index: 5;
}

#nav-down .title {
	bottom: 60px;
}

#nav-up .title {
	top: -10px;
}

#nav-left .title {
	top: -35px;
	left: -58px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#nav-right .title {
	top: -35px;
	left: -80px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.navs a {
	text-decoration:none;
}

.navs a {
	color:#444;
}

.navs a:hover {
	color:#000;
}

.navs a:hover svg {
	fill: #000;
	-webkit-filter: drop-shadow( 0px 0px 10px #000 );
	filter: drop-shadow( 0px 0px 10px #000 );
}

.dark .navs a {
	color:#ccc;
}

.dark .navs a:hover {
	color:#fff;
}

.dark .navs a:hover svg {
	fill: #fff;
	-webkit-filter: drop-shadow( 0px 0px 10px #fff );
	filter: drop-shadow( 0px 0px 10px #fff ); 
}

/* NAV ICONS */

.nav-icons {
	float:right;
	display: block;
	width:50px;
	height:50px;
	padding:0;
	margin: 30px 50px 30px 0;
}

.nav-icons a {
	display: block;
}

.nav-icons .icon-title {
	display: none;
}

svg.icon {
	width: 50px;
	height: 50px;
	fill: #444;
}

svg.icon:hover {
	fill: #000;
	-webkit-filter: drop-shadow( 0px 0px 10px #000 );
	filter: drop-shadow( 0px 0px 10px #000 );
}

.dark svg.icon {
	fill: #ccc;
}

.dark svg.icon:hover {
	fill: #fff;
	-webkit-filter: drop-shadow( 0px 0px 10px #fff );
	filter: drop-shadow( 0px 0px 10px #fff ); 
	
}

/* CONTENT */

a {
color: #000066;
}

a:hover {
color: #000099;
}

.content {
	position:absolute;
	top:100px;
	right:100px;
	bottom:140px;
	left:100px;
	text-align: left;
	line-height: 140%;
	overflow: auto;
	z-index: 1;
	padding:0;
}

*:focus {
	outline: none;
}

.content article {
	max-width: 600px;
	margin-right: 50%;
	text-align: left;
	margin-left: 10%;
}

.content aside {
	float:right;
	width: 40%;
	padding-top: 6em;
}

.s-home .content {
	text-align: center;
	margin-top: 3em;
}

#footer {
	width:100%;
	position:absolute;
	height:120px;
	bottom:10px;
	left:0;
	z-index: 3;
}

.sm2-bar-ui {
	font-size: 16px;
	float: left;
	width: 30%;
	max-width: 400px;
	margin-left:5%;
}
.sm2-bar-ui.fixed {
	bottom: 50px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
	background-color: #161a1c; /* non-RGBA fallback */
	background-color: rgba(22, 26, 28, 0.57);
}
.sm2-bar-ui .sm2-inline-texture {
	background: transparent;
}
.sm2-bar-ui .sm2-menu {
	display:none;
}

.content h1 {
	font-size: 1.8em;
	line-height: normal;
	margin:0 0 10px 0;
}

.s-events article,
.s-oud article,
.s-projects article,
.s-tags article,
.s-archive article {
	margin-left: 0;
	margin-right: 10%;
	max-width: 60%;
}

.s-events h1,
.s-oud h1,
.s-projects h1,
.s-archive h1 {
	font-size: 3em;
    color: rgba(255,255,255,0.3);
    display: block;
	line-height: normal;
	position: fixed;
	left: 5%;
}

.s-archive.a-garden h1 {
	font-size: 2em;
	left: 8%;
}

.s-tags h1 {
	font-size: 3em;
    color: rgba(255,255,255,0.3);
    display: block;
	line-height: 120%;
}

.s-events .content p,
.s-oud .content p,
.s-projects .content p,
.s-archive .content p,
.s-archive #post-links {
	margin-left: 35%; 
	max-width: 600px;
}

.s-archive.a-index article .description {
	position: fixed;
    display: block;
	left: 5%;
	width: 15%;
	color: #ccc;
	padding-top: 4em;
}

iframe#sc-playlist {
	margin-left: 35%;
	width: 80%;
	height: 400px;
}

.s-about .content h2 {
	margin-top: 2em;
}

.t-post .content .date {
	font-size: 1.5em;
	font-weight: bold;
    color: rgba(0,0,0,0.2);
	margin-bottom: 1em;
}

.t-post #post-links,
.t-post #press-links,
.t-post table {
	margin-left: 10%;
	margin-top: 4em;
}

.shadow {
	-webkit-box-shadow: 5px 5px 11px -5px rgba(0,0,0,1);
	-moz-box-shadow: 5px 5px 11px -5px rgba(0,0,0,1);
	box-shadow: 5px 5px 11px -5px rgba(0,0,0,1);
}

.hidden {
	display: none;
}

.content ul.sections {
	display: none;
}

.tag-info {
	position: absolute;
	width: 25%;
	color: #ddd;
}

.tag-info ul {
	list-style-type: none;
	margin: 0 1em; 
	padding: 0;
}

.a-justdust article ul {
	list-style-type: none;
}

/* INLINE IMAGES */

.inline-image {
    position:relative;
}
.inline-image img {
	cursor: zoom-in;
    vertical-align:top;
}
.inline-image:after, .inline-image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.inline-image:after {
	cursor: zoom-in;
	content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
}
.inline-image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
	padding: 2px 4px;
    text-align:center;
    background:#222;
    box-sizing:border-box;
    font-style: italic;
    font-size:0.7em;
    line-height: 120%;
    -moz-box-sizing:border-box;
}
.inline-image:hover:after, .inline-image:hover:before {
    opacity:1;
}

.img-box .img-caption {
	padding: 3px 10px;
	font-style:italic;
	width: 800px;
}

.img-left {
	float: left;
	margin-right: 1em;
}

.img-right {
	float: right;
	margin-left: 1em;
}

table {
  border-collapse: collapse;
}
table, th, td {
	border: 1px solid #444444;
}
th, td {
	padding: 0.3em ;
}
th {
	text-align: center;
}
td {
	text-align: left;
	vertical-align: top;
}
td .notes {
	font-size:0.9em;
	font-style: italic;
	line-height: 100%;
}
td.links {
	font-size:0.9em;
	font-style: italic;
}

/* INLINE SVG */

.content .img-svg {
	fill: #fff;
	-webkit-filter: drop-shadow( 2px 2px 11px #444 );
	filter: drop-shadow( 2px 2px 11px #444 ); 
}

/* ICONS */

#container span.fa,
#container span.fab {
	margin-right:5px; 
}

.fa,.fab {
	display: inline;
	color: #000066;
}

.fab.fa-soundcloud {
	color: #ff5500;
}


/* CONTENT WITH DARK BACKGROUND */

.dark {
color:#ffffff;
}

.dark a,
.dark .fa,
.dark .fab {
color: #ffff66;
}

.dark a:hover {
color: #ffff99;
}

.dark .nav-button {
	color:#FFFFFF;
}

.dark #credits {
	color: #cccccc;
}

/* LISTS */

ul.items {
	list-style-type: none;
	margin-left: 25%;
}

ul.items li {
	float:left;
	clear: none;
	width:70%;
	min-width: 600px;
	padding: 1em;
	margin: 0 1em 1em 1em;
	border-bottom: dashed 1px #444;
}

ul.items li img {
	float:left;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 10px;
}

ul.items li h3 {
	margin: 0.4em 0;
}

ul.items li .description {
	font-size: 0.9em;
}

.s-archive ul.items {
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
	padding: 0;
}

.s-archive ul.items li {
	width: 30%;
	clear: none;
	min-width: 400px;
	margin-left:0;
	border: none;
	padding: 0;
}

.s-events .content p {
	margin-left: 0;
}

.s-events ul.items li {
	float: none;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom:none;
	transition: all 0.4s ease-out;
	opacity: 0;
}

.s-events ul.items li.show {
	height: auto;
	padding: 1em;
	margin: 0 1em 1em 1em;
	border-bottom: dashed 1px #888;
	opacity: 1;
}

.s-events ul.items li img {
	width: 300px;
}

.s-events ul.items li .location {
	font-style: italic;
}

.s-events ul.items li .fblink {
	font-size: 0.8em;
}

ul.extra {
	margin-left: 35%;
	padding-left: 0;
}

ul.extra li {
	margin: 0 0.5em 0.5em 0.5em;
	padding: 0.5em;
}

ul.extra li img {
	width: 100px;
}


/* SHARE */

#post-links {
	margin: 1em;
}

#post-links span {
	background:rgba(0,0,0,0.3);
	color: #fff;
	margin: 0;
	padding: 3px 5px;
	width: 20px;
	text-align:center;
	font-size: 16px;
}

#container #post-links .fa {
	margin:0;
}

#sharing-is-caring .fa-twitter {
	background:#00aced;
	color: #fff;
}

#sharing-is-caring .fa-facebook {
	background:#3b5998;
	color: #fff;
}

#post-links .fa-twitter:hover, 
#post-links .fa-facebook:hover,
#post-links #tags a span:hover {
	background:#000;
}

#tags {
	margin: 0.7em 0;
}

#tags a {
	text-decoration: none;
}

#post-links #tags a span {
	background:#f70;
	color: #fff;
	width: auto;
	padding: 3px 8px;
	font-size: 14px;
}


/* PRESS */

#press-links {
	font-size:0.9em;
	max-width: 600px;
}

#press-links h3 {
	margin: 0;
}

#press-links ul {
	margin:0;
	padding: 0;
	list-style-type: none;
}

#press-links li {
	margin-top:6px;
}

#press-links li h4 {
	font-weight: normal;
	margin:0;
}

#press-links li .description {
	font-style: italic;
	line-height: normal;
}

ul.items.press li {
	padding: 0 0 1em 0;
}

ul.press li .link {
	font-size: 0.9em;
}

ul.items.press li h3 {
	margin: 0.2em 0;
}

/* FOOTER */

#credits {
color: #333333;
font-size: 0.9em;
font-style: italic;
position:absolute;
bottom: 10px;
right: 10px;
margin: 10px;
text-align:right;
}


/* GALLERY */

.ug-textpanel-title {
	font-style: italic;
	color: #CCC;
}

.ug-textpanel-title a {
	color: #FFF;
}


/* PINS */

.a-pin .featherlight {
	cursor: auto;
}

#pin.pin-portrait.featherlight .featherlight-content {
	padding-bottom: 20px;
}

#pin.pin-landscape .img-caption {
	text-align: center;
}

#pin.pin-portrait .img-info {
	float:right;
	width: 150px;
	margin-left: 5px;
}

#pin.pin-portrait .img-caption {
	text-align: left;
	width: auto;
}

#pin.pin-portrait .img-info p {
	margin-bottom:1em;
}


/* VIDEO */

.youtube {
	border: solid 1px #666;
	height: 315px;
}


/* SITEMAP / HELP */

.featherlight:last-of-type {
	background-color:rgba(0, 0, 0, 0.6);
}

.featherlight .featherlight-content {
	background-color:rgba(0, 0, 0, 0.9);
	border: none;
	color: #ddd;
}

.featherlight.help .featherlight-inner {
	max-width: 600px;
}

.t-post .featherlight .featherlight-content,
.t-home .featherlight .featherlight-content{
	background-color:rgba(0, 0, 0, 0.6);
}


.featherlight .featherlight-content .img-caption {
	padding-top: 10px;
	padding-bottom: 6px;
}

#sitemap .node {
	pointer-events: all;
	cursor: pointer;
}

#sitemap .node-rect {
/*
	fill: #222;
	-webkit-filter: drop-shadow( 3px 3px 4px #000 );
	filter: drop-shadow( 3px 3px 4px #000 ); 
*/
}
      
#sitemap .node-rect.selected {
	stroke: #ff7700;
	stroke-width: 2;
}

#sitemap .node-rect:hover {
	color: white;
	fill: #222;
}

#sitemap .node-text {
  font-size: 13px;
  fill: white;
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
}

#sitemap .link-line {
	stroke: #888;
}


/* TAG CLOUD */

.s-tags.a-index .content h1 {
	display: none;
}

#cloud svg {
	display: block;
	margin: 0 auto;
}

#cloud svg text {
	cursor: pointer;
}

#cloud svg text:hover {
	fill: white !important;
}


/* BACKGROUND COLORS */

.s-archive {
	background-color: #600;
}	

.s-about {
	background-color: #006;
}	

.s-francesco {
	background-color: #00A;
}	

.s-oud {
	background-color: #111;
}	

.s-events {
	background-color: #033;
}	


/* MOBILE */
@media only screen and (max-width: 800px) {

	#navsection {
		position: absolute;
		top: 0;
		display: block;
		background-color:rgba(0, 0, 0, 0.4);
		width: 100%;
		list-style-type: none;
		z-index: 5;
		white-space: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar; 
    }

	#navsection a.selected {
		border: solid 1px #Fc9;
	}

	#navsection a {
		display: inline-block;
		vertical-align: middle;
    	padding: 10px 20px;
    	margin: 10px 0 10px 10px;
		text-align: center;
		text-decoration: none;
		background-color:rgba(255, 255, 255, 0.4);
	}

	#navsection a:hover {
		background-color:rgba(255, 255, 255, 0.6);
	}
	
	.scaling-svg,
	.navs,
	.nav-icons {
		display: none !important;
	}
	
	aside {
		display:none;
	}
	

	.content {
		z-index: 2; /* used to detect mobile in js */
		top: 0;
		right: 0;
		bottom: 40px;
		left:0;
		line-height: 120%;
		padding: 20px;
		margin-top: 70px;
		margin-bottom: 45px;
	}
	
	.content article {
		margin: 0;
	}

	.content aside {
		float: none;
		width: 90%;
	}

	.content section {
		width: 90%;
	}
	
	.content ul.items {
		margin: 0;
		padding: 0;
	}

	.content ul.items li {
		margin: 0;
		padding: 1em 0;
		float:none;
		clear:both;
		min-width:300px;
		width:80%;
	}

	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.tag-info {
		position: relative;
		width: 90%;
	}

	.s-events article,
	.s-oud article,
	.s-projects article,
	.s-tags article,
	.s-archive article {
		max-width: 100%;
	}

	.s-events .content p,
	.s-oud .content p,
	.s-projects .content p,
	.s-archive .content p,
	.s-archive #post-links,
	.t-post #post-links,
	.t-post #press-links {
		margin-left: 0;
	}

	.s-events h1,
	.s-oud h1,
	.s-projects h1,
	.s-tags h1,
	.s-archive h1 {
		position: relative;
		font-size: 2em;
	    color: rgba(255,255,255,0.5);
		line-height: 100%;
		float: none;
		left: 0;
	}
	
	.s-archive ul.items {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
	
	.content h1 br {
		display: none;
	}
	
	/* FOOTER */
	
	#footer {
		margin: 0 auto;
		border-top: solid 1px #AAA;
		height: 33px;
		padding: 7px 0;
		bottom: 0;
		background-color:rgba(0, 0, 0, 1);
	}
	
	.sm2-bar-ui.compact {
		float: none;
		width:50%;
		max-width:400px;
		margin-left:0;
		bottom: 0;
	}
	
	#icon-home.nav-icons {
		display: block !important;
		position: absolute;
		width: 70px;
		height: auto;
		margin: 0;
		padding: 0;
		bottom: 7px;
		right: 10px;
	}
	
	#icon-lang.nav-icons {
		display: block !important;
		position: absolute;
		width: 40px;
		height: auto;
		margin: 0;
		padding: 0;
		bottom: 7px;
		right: 90px;
	}
	
	#icon-home.nav-icons a,
	#icon-lang.nav-icons a {
		height: 33px;
		line-height: 33px;
		margin:0;
		text-align: center;
		background-color: #DDD;
		text-decoration: none;
	}
	
	#icon-home.nav-icons a:hover,
	#icon-lang.nav-icons a:hover {
		color:#fff;
		text-decoration: underline;
		background-color:#999;
	}
	
	#icon-home.nav-icons .icon-title,
	#icon-lang.nav-icons .icon-title {
		text-transform: uppercase;
		display: block;
		color: #333;
		padding:2px;
	}

	#icon-home.nav-icons svg.icon,
	#icon-lang.nav-icons svg.icon {
		display: none;
	}

	/* HOME */
	
	.s-home #navsection {
		display: none;
	}
	
	.s-home .content {
		margin-top: 30px;
		text-align:center;
	}

	.content ul.sections {
		display: block;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.content ul.sections a {
		float:left;
		margin: 15px;
		width: 100px;
		height: 60px;
		padding: 15px 10px;
		color: #CCC;
		background-color:rgba(0, 0, 0, 0.2);
		text-decoration: none;
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		font-style: bold;
		text-transform: lowercase;
	}

	.content ul.sections a:hover {
		color: #fff;
		background-color:rgba(0, 0, 0, 0.5);
	}

	ul.items li img {
		float:none;
	}

	iframe#sc-playlist {
		margin-left: 0;
	}

	.s-archive.a-index article .description {
		position: relative;
		left: 0;
		width: 90%;
		padding-top: 0;
	}

	#credits {
		bottom: 40px;
	}

	.s-archive.a-garden h1 {
		left: 5%;
	}

	.s-archive ul.items li {
		border-bottom: dashed 1px #ddd;
	}

	.s-events ul.items li.show {
		margin: 0;
		padding: 1em 0;
	}

}

/* PRINT */

@media print {
	body {
		background-color: #fff !important;
		color: #000 !important;
		padding: 1em;
	}

	.content {
		color: #000 !important;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0,
	}

	.content article,
	.t-post #press-links {
		margin-left: 0;
	}

	.t-post #press-links {
		margin-top: 2em;
	}

	.backstretch,
	svg,
	#post-links,
	.navs,
	#footer {
		visibility: hidden;
		display: none;
	}
}
