
<!-- Tag template -->

<div class="tag-info">
<h1>#{metadata.tag|s}</h1>

<p>{metadata.description}</p>

{?metadata.related}
See also:
<ul> 
{#metadata.related}
<li><a href="/{metadata.lang}/tags/{.}/">#{.}</a></li>
{/metadata.related}
</ul>
{/metadata.related}

</div>

{?extra.items}
	<ul class="items">
	{#extra.items}
	<li>
		<a href="{url}">
		{?.image}<img class="shadow" src="{.image}" alt="{title}"/>{/.image}
		</a>
		<div>
		{@eq key=section value="posts"}
		{date|d}
		{/eq}
		{@eq key=section value="archive"}
		Archive
		{/eq}
		</div>
		<a href="{url}">
		<h3>{title}</h3>
		</a>
		<div class="description">{description}</div>
	</li>
	{/extra.items}
	</ul>
{/extra.items}
